:root {
  --modal-width: 60rem;
	--primary-color: rgb(219, 82, 77);
	--primary-color-opaque: rgba(219, 82, 77, 0.5);
	--primary-color-light: rgb(248, 232, 231);
	--secondary-color: white;
  --gray-color-opaque: rgba(128, 128, 128, 0.4);
	font-size: 10px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
	padding: 20px;
	margin: 0px;
	background: var(--primary-color);
}

ul {
	margin: 0px;
}

.app-header {
	width: 644px;
	padding-bottom: 14px;
	margin: auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	line-height: 37.5px;
}

.app-logo {
	color: var(--secondary-color);
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}

.app-logo:hover {
	cursor: pointer;
}

.app-logo__image {
	width: 2rem;
	vertical-align: middle;
}

.app-logo__text {
	font-size: 2rem;
	vertical-align: middle;
}

.navbar {
	float: right;
}

.navbar-button {
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	color: var(--secondary-color);
	border-radius: 4px;
}

.navbar-button:hover {
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.navbar-button__icon {
	width: 1.6rem;
	vertical-align: middle;
}

.navbar-button__text {
	font-size: 1.2rem;
	vertical-align: middle;
}

.timer {
	background-color: rgba(255, 255, 255, 0.1);
	width: 480px;
	padding: 26px 16px;
	margin: auto;
	margin-top: 45px;
	border-radius: 4px;
}

.timer-navbar {
	text-align: center;
}

.timer-navbar__button {
	display: inline-block;
	background: transparent;
	padding: 4px 8px;
	border: none;
	color: var(--secondary-color);
	border-radius: 4px;
	font-size: 1.6rem;
}

.timer-navbar__button--active {
	background: rgba(0, 0, 0, 0.15);
}

.timer-navbar__button:hover {
	cursor: pointer;
}

.timer-content {
	text-align: center;
	margin: 10px 0px;
}

.timer-content__item {
	font-size: 12.8rem;
	color: var(--secondary-color);
	font-weight: bold;
}

.timer-footer {
	text-align: center;
}

.timer-footer__button {
	width: 200px;
	padding: 16px;
	color:  var(--primary-color);
	font-size: 2rem;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 5px rgba(235, 235, 235, 0.8);
}

.timer-footer__button:hover {
	cursor: pointer;
}

.tasks {
	width: 480px;
	padding: 26px 16px;
	margin: auto;
	margin-top: 45px;
}

.tasks-header {
	text-align: center;
	margin: 10px 0;
}

.tasks-header__title {
	color: var(--secondary-color);
	font-size: 1.8rem;
}

.tasks-content {
	padding-bottom: 14px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
	line-height: 32px;
}

.tasks-content__title {
	color: var(--secondary-color);
	font-size: 1.8rem;
}

.tasks-content-button {
	float: right;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 8px;
	border: none;
	border-radius: 4px;
}

.tasks-content-button:hover {
	cursor: pointer;
}

.tasks-content-button__icon {
	width: 1.6rem;
	height: 1.3rem;
}

.tasks-footer {
	margin-top: 12px;
}

.tasks-footer-button {
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	border: 2px dashed var(--secondary-color);
	opacity: 0.8;
}

.tasks-footer-button:hover {
	opacity: 1;
	cursor: pointer;
}

.tasks-footer-button__icon {
	width: 2.88rem;
	height: 2.88rem;
	margin-right: 8px;
	vertical-align: middle;
}

.tasks-footer-button__text {
	color: var(--secondary-color);
	font-size: 1.8rem;
	vertical-align: middle;
}

.overflow-hidden {
	overflow-y: hidden;
}
